In [1]:
import sys

In [2]:
print sys.version

2.7.12 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:43:17)
[GCC 4.2.1 (Based on Apple Inc. build 5658) (LLVM build 2336.11.00)]

In [3]:
import platform

In [5]:
platform.python_version()

'2.7.12'

In [6]:
a =5

In [7]:
b=10

In [8]:
c = a+b

In [9]:
print c

15

In [10]:
x = 1726

In [11]:
type(x)

int

In [12]:
y = 123873.12
type(y)

float

In [13]:
z = 'Python_session'

In [14]:
type(z)

str

In [15]:
z = "Naman"

In [16]:
print z

Naman

In [17]:
zz = '''Hello All'''

In [18]:
print zz

Hello All

In [19]:
print type(zz)

<type 'str'>

In [20]:
print type(z)

<type 'str'>

In [21]:
a,b = 10,20

In [22]:
print a

10

In [23]:
print type(a)

<type 'int'>

In [24]:
print b

20

In [28]:
a = 10
b=5.7
c = 3.2

d = a/c

In [29]:
print a
print b
print c
print d

print type(a)
print type(b)
print type(c)
print type(d)

10
5.7
3.2
3.125
<type 'int'>
<type 'float'>
<type 'float'>
<type 'float'>

In [30]:
b = None

In [31]:
print b

None

In [32]:
print type(b)

<type 'NoneType'>

In [34]:
b is None

True

In [35]:
bb is None

NameError: name 'bb' is not defined

In [36]:
no_1 = 2.34

In [37]:
no_1

2.34

In [38]:
int(no_1)

2

In [39]:
str(no_1)

'2.34'

In [40]:
a = 10
print a

10

# Tuple_Hands_on

In [41]:
first_tuple = (10,20,26.4,'Naman',(12,4),'Ganesh')

In [42]:
first_tuple

(10, 20, 26.4, 'Naman', (12, 4), 'Ganesh')

In [43]:
first_tuple[3]

'Naman'

In [44]:
first_tuple[3] = 'Naman Agarwal'

TypeError: 'tuple' object does not support item assignment

In [45]:
first_tuple[-3]

'Naman'

In [46]:
first_tuple[0]

10

In [49]:
first_tuple[4,1]

TypeError: tuple indices must be integers, not tuple

In [50]:
first_tuple[-6]

10

In [58]:
first_tuple[3:6]

('Naman', (12, 4), 'Ganesh')

In [54]:
first_tuple[4]

(12, 4)

In [56]:
first_tuple[4][0]

12

# List

In [59]:
first_list = [10,20,26.4,'Naman','Ganesh']

In [60]:
first_list

[10, 20, 26.4, 'Naman', 'Ganesh']

In [61]:
first_list.append('Nishant')

In [62]:
first_list

[10, 20, 26.4, 'Naman', 'Ganesh', 'Nishant']

In [63]:
first_list.remove(10)

In [64]:
first_list

[20, 26.4, 'Naman', 'Ganesh', 'Nishant']

In [65]:
first_list.insert(3,26)

In [66]:
first_list

[20, 26.4, 'Naman', 26, 'Ganesh', 'Nishant']

In [67]:
first_list.pop(2)

'Naman'

In [68]:
first_list

[20, 26.4, 26, 'Ganesh', 'Nishant']

In [69]:
first_list[1:-1]

[26.4, 26, 'Ganesh']

In [70]:
matrix = [[1, 2, 3], [4, 5, 6]]

In [71]:
print matrix

[[1, 2, 3], [4, 5, 6]]

# dictionary example

In [76]:
first_dict = {'First_Name':'Naman','Last_Name': 'Agarwal','id':1}

In [77]:
first_dict

{'First_Name': 'Naman', 'Last_Name': 'Agarwal', 'id': 1}

In [78]:
first_dict.keys()

['First_Name', 'Last_Name', 'id']

In [79]:
first_dict.values()

['Naman', 'Agarwal', 1]

In [80]:
first_dict['Initial_Name']

KeyError: 'Initial_Name'

In [81]:
first_dict.update({'id':200})

In [82]:
first_dict

{'First_Name': 'Naman', 'Last_Name': 'Agarwal', 'id': 200}

In [83]:
del first_dict['id']

In [84]:
first_dict

{'First_Name': 'Naman', 'Last_Name': 'Agarwal'}

# Set

In [85]:
some_checkpointers = set(['India','Australia','Sri Lanka','New Zeland','Zimbawae','Bangkok','England','India'])

In [86]:
some_checkpointers

{'Australia',
 'Bangkok',
 'England',
 'India',
 'New Zeland',
 'Sri Lanka',
 'Zimbawae'}

In [87]:
type(some_checkpointers)

set

In [88]:
some_checkpointers_more = set(['South Africa','India','Pakistan','Bangkok'])

In [89]:
clubbing = some_checkpointers | some_checkpointers_more

In [90]:
clubbing

{'Australia',
 'Bangkok',
 'England',
 'India',
 'New Zeland',
 'Pakistan',
 'South Africa',
 'Sri Lanka',
 'Zimbawae'}

In [92]:
clubbing_new = some_checkpointers & some_checkpointers_more

In [93]:
clubbing_new

{'Bangkok', 'India'}

# Basic Operations

In [94]:
list_of_subjects = ['Maths','Science','Commerce','Environmental Studies']

In [95]:
'Physics' in list_of_subjects

False

In [96]:
'Maths' in list_of_subjects

True

In [97]:
word_check = 'Chikkabiddyshorthangs'

In [98]:
'e' in word_check

False

In [99]:
'c' in word_check

False

In [100]:
'C' in word_check

True

In [101]:
a_check = (10,20,30)
b_check = (25,35,45)

In [102]:
sum_check = a_check + b_check

In [103]:
sum_check

(10, 20, 30, 25, 35, 45)

In [104]:
a_check_new = [10,20,30]
b_check_new = [25,35,45]

In [105]:
sum_check_new = a_check_new + b_check_new
sum_check_new

[10, 20, 30, 25, 35, 45]

In [106]:
age = (10,20,30)*3

In [107]:
age

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [108]:
name = ['Naman']* 3

In [109]:
name

['Naman', 'Naman', 'Naman']

In [110]:
new_name = 'Naman'*3

In [111]:
new_name

'NamanNamanNaman'

In [112]:
name_2 = 3*['Naman']

In [113]:
name_2

['Naman', 'Naman', 'Naman']