In [2]:
def sum_nos(num1, num2):
    return num1+num2


numbera = 367
numberb = 7281.1
result = sum_nos(numbera,numberb)
result

7648.1

In [7]:
def bmi():
    age = 34
    weight = 78 
    height = 5.93
    return age, weight, height

age , weight , height = bmi()

In [9]:
print height, age, weight

5.93 34 78

# Built-in Functions

In [17]:
stores = ['MacDonalds','KFC','Dominos','Burger King','Pizza Hut']

In [18]:
for location, name in enumerate(stores):
    print location, name

0 MacDonalds
1 KFC
2 Dominos
3 Burger King
4 Pizza Hut

In [19]:
store_mapping = dict((name,location) for location,name in enumerate(stores))

In [20]:
store_mapping

{'Burger King': 3, 'Dominos': 2, 'KFC': 1, 'MacDonalds': 0, 'Pizza Hut': 4}

In [15]:
num_list = range(20)

In [16]:
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [21]:
list(reversed(num_list))

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [22]:
subjects = ['English','Maths','Science','Commerce','Physics']
subject_order = ['four','five','three','one','two']

In [23]:
club_subjects = zip(subjects,subject_order)

In [24]:
club_subjects

[('English', 'four'),
 ('Maths', 'five'),
 ('Science', 'three'),
 ('Commerce', 'one'),
 ('Physics', 'two')]

In [25]:
type(club_subjects)

list

# Conditional_Checks

In [36]:
age = -1

In [38]:
if 0<age<18:
    print 'Minor'
elif age>18:
    print 'Major'
elif age==18:
    print 'Age is Eighteen'
else:
    print 'You have entered an invalid age'

You have entered an invalid age

In [56]:
subjects_new = ['English','Maths','Science','Commerce','Physics']

In [57]:
print subjects_new

['English', 'Maths', 'Science', 'Commerce', 'Physics']

In [58]:
for a in subjects_new:
    if (a is None):
        continue
    print a

English
Maths
Science
Commerce
Physics

In [59]:
for ab in subjects_new:
    if (ab is None):
        break
    print ab

English
Maths
Science
Commerce
Physics

In [60]:
a = 7237.38

In [61]:
print type(a)

<type 'float'>

In [70]:
def test_float(number):
    try:
        return float(number)
    except ValueError:
        return 'Not a Number!! Kindly reenter',number

In [71]:
test_float = 3.45

In [72]:
print type(test_float)

<type 'float'>

In [73]:
test_float('Naman')

TypeError: 'float' object is not callable

In [75]:
def test_flot(num):
    try:
        return float(num)
    except ValueError:
        return 'Not a number', num

In [76]:
test_flot('Naman')

('Not a number', 'Naman')